/* FONTE*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.DiagramaProcesso {
    display: flex; /* Define o layout flexbox para o elemento */
    flex-direction: column; /* Organiza os elementos filhos na vertical (um em cima do outro) */
    align-items: center; /* Alinha os elementos filhos horizontalmente no centro */
    height: fit-content; /* Define a altura para caber no conteúdo */
    width: 100%; /* Define a largura como 90% da largura da tela */
    margin: 0 auto; /* Aplica margem zero em cima e embaixo, e margem automática nas laterais para centralizar horizontalmente */
    padding-top: 10px; /* Adiciona 10px de padding em todas as bordas */
    background-color: #DEDEDE; /* Define a cor de fundo como cinza claro */
  }
  header {
    text-align: center; /* Alinha o texto do header no centro da pag */
  }
  
  /* Define estilos para o elemento h1 dentro do header */
  header h1 {
    font-family: 'Poppins', sans-serif; /* Define a fonte como Poppins, com fallback para sans-serif */
    font-size: 2.5em; /* Define o tamanho da fonte (grande)*/
    color: #FF8515; /* Define a cor do texto */
    font-weight: 800; /* Aumenta o peso da fonte para 800 (mais bold) */
  }
  
  header p {
    font-family: 'Poppins', sans-serif; /* Define a fonte */
    font-size: 1em; /* Define o tamanho da fonte */
    color: #666; /* Define a cor do texto como cinza escuro */
  }
  
.cards {
    flex-direction: row; /*cards na horizontal (um ao lado do outro) */
    display: flex; 
    text-align: center; /* Alinha o texto dos cards no centro */
    gap: 100px; /* Define um espaço de 100px entre os cards */
    padding: 2%; /* Adiciona 2% de padding em todas as bordas dos cards */
}
  
.cards2 {
    flex-direction: row; /*cards na horizontal (um ao lado do outro) */
    display: flex; 
    text-align: center; /* Alinha o texto dos cards no centro */
    gap: 100px; /* Define um espaço de 100px entre os cards */
    padding: 2%; /* Adiciona 2% de padding em todas as bordas dos cards */
}
  

.card img{
    height:200px; ; /* Define a altura da imagem como 200px */
    width: 200px; ; /* Define a largura da imagem como 200px */
}
.card h2{
    font-family: 'Poppins', sans-serif; 
    font-weight: 700; /* Aumenta o peso da fonte para 800 (mais bold) */
    color: #000000; /* Cor do h */
}
.card p {
  font-family: 'Poppins', sans-serif;
  color: #666; /* Cor do p */
}

