@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

#home {
    height: 100vh;
    position: relative;
}

#fundo_header {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;

}

.fundo {
    /* Essa Div Define o Tamanho das Ondas. */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.fundo_circuito {
    position: absolute;
    object-fit: cover;
    width: 60%;
    height: 100vh;
    left: -10%;
    top: -30%;
    opacity: 0.2;
}


a .logo {
    width: 100px;
    height: 100px;

}


nav {
    position: fixed;
    top: 0;
    z-index: 99999;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    left: 0;
    gap: 32px;
}


#navbar-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 32px;
    flex-grow: 1;
    align-items: center;
    /* transition: 0.30; */
}

#navbar-list a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    position: relative;
    text-transform: uppercase;
}

#navbar-list a:hover {
    color: black;
    transition: transform .2s;
}

#navbar-list .nav-links::before {
    content: '';
    bottom: -4px;
    position: absolute;
    background-color:  white;
    border-radius: 4px;
    width: 100%;
    transform: scaleX(0);
    transition: transform .2s;
    transform-origin: right;
    height: 2px;
}


#navbar-list .nav-links:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    background-color: black;
}


nav.active {
    background-color: white;
    color: #FD6220; 
}

nav.active #navbar-list a{
    color: black; 
}

nav.active #navbar-list a:hover {
    color: #FD6220; 
}

nav.active #navbar-list .nav-links::before {
    background-color: #FD6220;
}





#logo {
    display: flex;
    height: 95px;
    margin-left: 10px;
    cursor: pointer;
    top: 0;
    object-fit: contain;
}

.button-login {
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: 0;
    font-family: Poppins;
    transition: 0.3s;
    color: #FD6220;
}

.button-login:hover {
    background-color: #FD6220;
    color: white;
}

#header_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.slogan {
    width: 500px;
    font-size: 20px;
}

.imagem-header {
    width: 400px;
    animation: float 2s infinite ease-in-out alternate;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }


}



/* Criando a Parte do Botão pro Menu de Celular*/
#mobile-button {
    position: absolute;
    right: 0;
    margin: 16px;
    display: none;
    width: 30px;
    aspect-ratio: 1/1;
    /* Essa parte Cria um Quadrado Perfeito*/
    justify-content: space-around;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    flex-direction: column;
}

button#mobile-button .line {
    width: 100%;
    background-color: black;
    height: 2px;
    transition: .2s transform;

}

button#mobile-button.active .line:first-child {
    position: absolute;
    transform: rotate(45deg);
}

button#mobile-button.active .line:nth-child(2) {
    opacity: 0;
}

button#mobile-button.active .line:last-child {
    transform: rotate(-45deg);
    position: absolute;
}


@media (max-width: 1130px) {
    #mobile-button {
        display: flex;
    }

    #navbar-list {
        display: none;
    }

    #navbar-list.show {
        position: absolute;
        display: block;
        top: 120px;
        text-align: end;
        width: 100%;
        left: 0;
        background-color: white;
        transition: 3s;
    }

    #navbar-list.show a {
        margin-right: 16px;
        color: black;
    }

    #navbar-list.show .nav-links::before {
        background-color: #FD6220;
    }

    #navbar-list.show .nav-links:hover {
        margin-right: 16px;
        color: #FD6220;
    }

    .button-login {
        background-color: transparent;
        color: black;
    }

}

/*
    Sobré nós do Projeto
*/

.container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: end;
    padding: 10%;
}

.s1 h1 {
    font-size: 30px;
    color: #ff8515;
    display: flex;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 20px;
}

.s1 p {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    font-size: 15px;
    font-style: normal;
    margin-bottom: 20px;
}

.s1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.image img {
    width: 75%;
    height: 50%;
    object-fit: cover;
}

.botao {
    width: 400px;
    height: 50px;
    padding: 50;
}

.botao button {
    width: 180px;
    height: 45px;
    border-radius: 10px;
    border: 0;
    font-family: Poppins;
    transition: 0.3s;
    color: white;
    background-color: #FD6220;
    font-weight: bold;
}

.botao button:hover {
    background-color: #D9D9D9;
    color: #808080;
}

.image {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Diagrama */

.DiagramaProcesso {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
    background-color: #D9D9D9;
    padding-bottom: 80px;
}

.titulo-diagrama {
    text-align: center;
}

.titulo-diagrama h1 {
    font-size: 30px;
    color: #FF8515;
    font-weight: 800;
   
}

.titulo-diagrama p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #666;
}

.conteudo-diagrama {
    width: 100%;
    height: 65%;
}

.cards {
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 80px;
    padding: 2%;
    height: 50%;
}


.card img {
    height: 100px;
    width: 100px;
}

.card h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000000;
}

.card p {
    font-family: 'Poppins', sans-serif;
    color: #666;
    font-size: 15px;
}


.container-plataforma {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: end;
    padding: 5%;
}

.s1-plataforma h1 {
    font-size: 30px;
    color: #ff8515;
    display: flex;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 20px;
}

.s1-plataforma p {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    font-size: 15px;
    font-style: normal;
    margin-bottom: 20px;
}

.s1-plataforma {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.image-plataforma img {
    width: 75%;
    height: 50%;
    object-fit: cover;
}

.botao-plataforma {
    width: 400px;
    height: 50px;
    padding: 50;
}

.botao-plataforma button {
    width: 180px;
    height: 45px;
    border-radius: 10px;
    border: 0;
    font-family: Poppins;
    transition: 0.3s;
    color: white;
    background-color: #FD6220;
    font-weight: bold;
}

.botao-plataforma button:hover {
    background-color: #D9D9D9;
    color: #808080;
}

.image-plataforma {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



/* Fale Conosco */
.container-faleconosco {
    margin: 5px 200px 50px;
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: #d9d9d9bb;
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.container-faleconosco input {
    border: 0;
    border-bottom: 1px solid #FF8515;
    background-color: transparent;
    outline: none;
    color: #858e92;
    font-size: 17px;
}

.container-faleconosco input.assunto {
    border-radius: 5px;
    border-bottom: 1px solid #c5c5c5;
    background-color: #ffffff;
    outline: none;
    color: #858e92;
    font-size: 17px;
}

.container-faleconosco label {
    font-weight: 500;
    font-size: 17px;
    color: #FF8515;
    /* define o fundo como um gradiente*/
    background-clip: text;
    /*limita o fundo ao tamanhno do texto*/

}

.container-faleconosco h3 {
    color: #455A64;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.assunto {
    border-bottom: none !important;
    /* !important serve pra que a classe não herde a característica do pai e sobreecreva com a definida*/
    background-color: whitesmoke !important;
    outline: none;
    border-radius: 10px;
    width: 95%;
    height: 100%;
    box-shadow: rgba(68, 68, 68, 0.15) 1.95px 1.95px 2.6px;
    justify-content: center;
}

.container-faleconosco .divassunto {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100px;
}

.container-faleconosco button {
    color: #FF8515;
    background-clip: text;
    border: 0;
    outline: none;
    transition: transform 1s;
    transform: translateX(0);
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    align-self: flex-end;
    margin-left: 54%;
    padding: 10px;
    
}

.container-faleconosco button:hover {
    transform: translateX(5px) scale(1.2);
    /* animação do botão*/
}

.container-faleconosco img {
    width: 20px;
    height: 20px;
}

.label{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 20px;
}

.align{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 35px;   
}

.align div{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:9px;
    margin-right: 70px;
}
/* Equipe */

.container-equipe{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5%;
    padding-right: 30px;
    gap:50px

}
.container-equipe h1{
    font-size: 30px;
    color: #ff8515;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 20px;
}

.equipe-cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
    align-items:center ;
}

.equipe-cards div{
    width: 20% ;
    height: 100%;
    background-color: #d9d9d9bb ;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe-cards h3{
    color: #455A64;
    font-size: 15px;
    margin-bottom: 10px;
}

.equipe-cards p{
    color: #455A64;
    font-size: 15px;
}

footer {
    background-color: #000000d6;  
    padding: 30px 20px;       
    text-align: center;       
    color: #ffffff;          
  }

